.option h2 {
    font-size: 40px;
    font-weight: bold;
}

.optionBox {
    font-size: 20px;
    font-weight: normal;
    background: #FFFFFF;
    border: none;
    border-radius: 16px;
    padding: 40px; 
}

.tableOption {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0; 
}

.thOption {
    width: 100%;
    height: 40px;
    border: 1px solid #ddd; 
    background: #C6E4D6;
    text-align: left;
    padding: 10px; 
}

.tdOption {
    padding: 16px; 
    border: 1px solid #ddd; 
}

.btnOption {
    background: #C6E4D6;
    padding: 10px 14px;
    border-radius: 6px;
    border: 1px solid #ddd;
    cursor: pointer;
}

.btnOption:hover {
    background: #A5D3B6; 
}

.questionSpan p {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 10px;
}

.tdBtn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.collapseOption {
    border-collapse: collapse;
}

.option {
    margin-bottom: 80px;

}
